<div class="row quarted-box">
  <div class="col-sm indigo lighten-5 animated slideInRight"></div>
  <div class="col-sm indigo lighten-4 animated slideInRight"></div>
  <div class="col-sm indigo lighten-3 animated slideInRight"></div>
  <div class="col-sm indigo lighten-2 animated slideInRight"></div>
  <div class="col-sm indigo lighten-1 animated slideInRight"></div>
  <div class="col-sm indigo animated lightSpeedIn"></div>
  <div class="col-sm indigo darken-1 animated slideInLeft"></div>
  <div class="col-sm indigo darken-2 animated slideInLeft"></div>
  <div class="col-sm indigo darken-3 animated slideInLeft"></div>
  <div class="col-sm indigo darken-4 animated slideInLeft"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="container">
       
        
        <h1>  &#60; code  &#62;</h1>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="view overlay zoom">
                <a target="_blank" href="/assets/img/page4_s.jpg"> 
                    <img src="/assets/img/page4.jpg" class="img-fluid " alt="smaple image">
                  </a>
              </div>
        </div>
      <div class="col-sm-4">
          <div class="view overlay zoom">
              <a target="_blank" href="/assets/img/page1.png"> 
                  <img src="/assets/img/page1_s.jpg" class="img-fluid " alt="smaple image">
                </a>
            </div>
      </div> 
      <div class="col-sm-4">
          <div class="view overlay zoom">
              <a target="_blank" href="http://www.goldstatenut.com/"> 
                  <img src="/assets/img/page2.jpg" class="img-fluid " alt="smaple image">
                </a>
            </div>
      </div>
  </div>
</div>
<div class="row"><br/></div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="view overlay zoom">
                <a target="_blank" href="/assets/img/page3.jpg"> 
                    <img src="/assets/img/page3.jpg" class="img-fluid " alt="smaple image">
                  </a>
              </div>
        </div>
    </div>
</div>
