.status-progress .progress{height:4px ;}
.experience ul li{font-size:14px}
.borderLeft{border-left: 3px solid #007bff !important;}
fa-icon.ng-fa-icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -4px;
}