<div class="container">
    <div class="row py-5 experience">

        <!--First column-->
        <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

        <!--Section heading-->
        <div class="d-flex justify-content-start">
            <h4 class="text-center text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">My <strong>experience</strong></h4>
        </div>

                <!--Description-->
                <blockquote class="blockquote borderLeft mb-4">
                    <div class="row"> 
                        <fa-icon [icon]="faBriefcase"></fa-icon>
                         <h5 class="font-weight-bold mb-3"> Frontend Developer / Tester </h5>
                    </div>
                    <p class=" ml-1 dark-grey-text mb-2">kwiecień, 2010 - Obecnie (8 lat)</p>
                    <ul class="light-grey-text">
                      <li>kodowanie stron HTML, CSS z wykorzystaniem JS, JQUERY, XSLT, AJAX, TWIG do manipulacji danym na stronie
                      <li>wdrażanie poprawek/zmian w projektach wykorzystując rózne technologie</li>
                      <li>asystowanie przy integracji kodu z backendem, rozwiązywanie problemów</li>
                      <li>testowanie oprogramowania, aplikacji w oparciu o specyfikacje</li>
                      <li> wymagania wraz z koordynowaniem pracami zespołu </li>
                      <li> tworzenie scenariuszy testowych, dokumentacji </li>
                      <li> analiza wymagań i tworzenie specyfikacji </li>
                      <li> koordynacja, monitoring oraz kontrola działań związanych z realizacją projektu </li>
                      <li>analiza zgłoszeń i przekazywanie do odpowiednich zespołów </li>
                      <li> nadzór nad prawidłowym archiwizowaniem dokumentacji projektu </li>
            
                    </ul>
                  </blockquote>
<br><br>
                <blockquote class="blockquote borderLeft mt-1 mb-4">
                    <div class="row"> <fa-icon [icon]="faBriefcase"></fa-icon>
                        <h5 class="font-weight-bold mb-3"> KOORDYNATOR PROJEKTÓW</h5> </div>
                    <p class="ml-1 dark-grey-text mb-2">lipiec 2008 - wrzesień 2009 (1 rok, 2 miesiące)</p>
                    
                    <ul class="light-grey-text">
                        <li>koordynowanie zadań związanych z realizacją projektów </li>
                        <li>delegowanie zadań do poszczególnych zespołów , departamentów </li>
                        <li>rozwiązywanie problemów prac zespołów</li>
                      </ul>
                    </blockquote>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-lg-5 offset-lg-1 col-md-12 mb-4 animated slideInRight status-progress">

        <!--Second heading-->
        <div class="d-flex justify-content-start">
            <h4 class="text-center text-uppercase mb-5 pb-3 mt-4">Development <strong>Skills</strong></h4>
        </div>

            <!--Description-->
            <p class="black-text text-uppercase font-weight-bold" >Java Script</p>
            <div class="progress">
                <div class="progress-bar animated slideInLeft"style="width: 60%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >CSS3</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 90%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >HTML</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 90%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >SASS</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 80%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >Boostrap(3,4)</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 90%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >JQuery</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 70%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >AJAX</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 75%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >RWD</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 90%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >PHP</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width:40%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >TWIG</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 82%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >Angular</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 40%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >Photoshop</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 95%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >JIRA</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 95%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <p class="black-text text-uppercase font-weight-bold" >GIT</p>
              <div class="progress">
                  <div class="progress-bar animated slideInLeft"style="width: 60%"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              
              
              
              

        </div>
        <!--/Second column-->

    </div>
</div>