<div class="app-top-bckg">
<div class=" container">
    <div class="row">
      <div class="col-sm">
        <img  width="100px" src="/assets/img/bulb.png"/>
      </div>
      <div class="col-sm my-auto" >
        <img src="/assets/img/text1.png"/> <br/><br/><img src="/assets/img/text2.png"/>
      
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row text-center text-white">
    <div class="col-sm-8 p-0 main-box main-box1  wow fadeInUp">
      <div class="view overlay bg-secondary">
        <div class="main-text d-flex justify-content-center flex-column">
          <h2>Porfolio</h2>
          <p>Zobacz co możemy dla Ciebie zrobić</p>
        </div>
        <div class="mask flex-center rgba-green-strong">
            <p class="white-text">Strong overlay</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0 main-box main-box2">
      <div class="view overlay aqua-gradient">
        <div class="main-text  d-flex justify-content-center flex-column ">
          <h2>Oferta</h2>
          <p>Poznaj Nas</p>
        </div>
        <div class="mask flex-center rgba-red-strong">
            <p class="white-text">Strong overlay</p>
        </div>
      </div>
    </div>  
  </div>
  <div class="row text-center text-white">
    <div class="col-sm-4 p-0 main-box main-box1 ">
      <div class="view overlay pink">
        <div class="main-text  d-flex justify-content-center flex-column">
          <h2>Strony</h2>
          <p>Wszystko dla Ciebie</p>
        </div>
        <div class="mask flex-center rgba-blue-strong">
            <p class="white-text">Strong overlay</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0 main-box main-box2">
      <div class="view overlay yellow darken-1 ">
        <div class="main-text d-flex justify-content-center flex-column">
          <h2>O mnie</h2>
          <p>Troche detali</p>
        </div>
        <div class="mask flex-center rgba-pink-strong">
            <p class="white-text">Strong overlay</p>
        </div>
      </div>
    </div>  
    <div class="col-sm-4 p-0 main-box main-box2">
      <div class="view overlay pink darken-4">
        <div class="main-text d-flex justify-content-center flex-column ">
          <h2>Kontakt</h2>
          <p>Odpowiem na każde pytanie</p>
        </div>
        <div class="mask flex-center rgba-green-strong">
            <p class="white-text">Strong overlay</p>
        </div>
      </div>
    </div>  
  </div>
</div>

